{{ component "layout" . }}
{{ component "layout_user" . }}

{{ component "block" (props .
    "Icon" "list"
    "Name" (printf "deleting playlist %s" .Playlist.Name)
    "Desc" "are you sure?"
) }}
    <form class="inline-block" action="{{ printf "/admin/playlist_delete_do?path=%s" (.PlaylistPath | urlquery) | path }}" method="post">
        <input type="submit" value="yes">
    </form>
{{ end }}

{{ end }}
{{ end }}
